.wrapper {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
  color: #FFFFFF;
}

.wrapper .img .bone {
  width: 100%;
  height: 100%;
}

.wrapper .img .bone li {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.wrapper .img .bone li::after {
  content: '';
  background-color: rgba(202, 217, 238, 0.1);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.wrapper .img .bone li:nth-child(1) {
  background-image: url(../../../images/gaikotu-2.jpg);
}

.wrapper .header-component {
  position: absolute;
  padding: 5vh 0;
  width: 100vw;
  height: auto;
}

.wrapper .header-component .link-button {
  z-index: 100;
  left: 4.5vh;
  top: 3.8vh;
  position: absolute;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: transparent;
  border: none;
  border-radius: 0.3rem;
  border-bottom: 5px solid transparent;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.2em;
}

.wrapper .header-component .link-button:hover {
  margin-top: 3px;
  background: #CAD9EE;
  border-bottom: 2px solid #a0b1c9;
}

.wrapper .header-component .link-button .link-button-font {
  color: white;
  text-decoration: none;
}

.wrapper .header-component .link-button .link-button-font .arrow {
  height: 29px;
  vertical-align: top;
  padding-right: 5px;
}

.wrapper .header-component .main-title {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 2em;
  z-index: 50;
  position: relative;
  text-align: center;
}

.wrapper .header-component div .menu {
  z-index: 60;
  position: absolute;
  border-bottom: none;
  border-radius: 10px;
  width: auto;
  height: auto;
  top: 4vh;
  margin-left: 80vw;
  padding: 0.3rem 0.5rem;
  font-size: 25px;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.wrapper .header-component div .menu .under-arrow {
  height: 25px;
  width: 25px;
  vertical-align: bottom;
  font-size: 20px;
  padding-left: 0.5vw;
}

.wrapper .header-component div .menu li {
  margin: 3px;
  cursor: pointer;
  letter-spacing: 0px;
}

.wrapper .header-component div .menu li ul {
  display: none;
  padding-top: 10px;
}

.wrapper .header-component div .menu li ul li {
  padding: 20px 0;
  border-top: 2px solid white;
}

.wrapper .header-component div .menu li:hover {
  font-size: 1.1em;
}

.wrapper .header-component div .menu li:hover ul {
  display: block;
  font-size: 0.8em;
}

.wrapper .title {
  width: 20vw;
  position: relative;
  top: 13vw;
  color: white;
  z-index: 50;
  font-size: 3.2em;
  font-family: "Noto Sans JP";
  margin-bottom: 2em;
  margin-left: 38vw;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  background: rgba(202, 217, 238, 0.7);
}

.wrapper .title:before, .wrapper .title:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  background: rgba(202, 217, 238, 0.6);
}

.wrapper .title:before {
  right: 40px;
  bottom: -15px;
  width: 30px;
  height: 30px;
  position: absolute;
  content: '';
  border-radius: 50%;
}

.wrapper .title:after {
  right: 60px;
  bottom: -30px;
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 501px) and (max-width: 960px) {
  .wrapper .header-component div .menu {
    width: auto;
  }
  .wrapper .title {
    width: 30vw;
    margin-top: 10vh;
    margin-left: 30vw;
  }
}

@media screen and (min-width: 376px) and (max-width: 500px) {
  .wrapper .header-component .link-button {
    left: 4vh;
    top: 4vh;
    padding: 0.0001rem 0.1rem;
  }
  .wrapper .header-component .main-title {
    font-size: 1.5em;
  }
  .wrapper .title {
    width: 60vw;
    top: 20vh;
    left: 12vw;
    margin: 0;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .wrapper .header-component .link-button {
    left: 4vh;
    top: 4vh;
    padding: 0.0001rem 0.1rem;
  }
  .wrapper .header-component .main-title {
    font-size: 1.4em;
  }
  .wrapper .title {
    width: 60vw;
    top: 20vh;
    left: 12vw;
    margin: 0;
    font-size: 2.8em;
  }
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .wrapper .header-component .link-button {
    left: 3vh;
    top: 4vh;
    padding: 0.0001rem 0.1rem;
  }
  .wrapper .header-component .main-title {
    font-size: 1.1em;
  }
  .wrapper .title {
    width: 65vw;
    top: 22vh;
    left: 8vw;
    margin: 0;
    font-size: 2.5em;
  }
}

@media screen and (max-width: 500px) {
  .wrapper .header-component div .menu {
    top: 40vh;
    right: 0;
    -webkit-box-shadow: 1px rgba(0, 0, 0, 0.3);
            box-shadow: 1px rgba(0, 0, 0, 0.3);
  }
  .wrapper .header-component div .menu li {
    font-size: 15px;
  }
  .wrapper .header-component div .menu li .yoga-wrapper {
    width: 16vw;
    text-align: center;
    display: inline-block;
  }
  .wrapper .header-component div .menu li .yoga-wrapper .yoga {
    width: 1.5em;
    height: 2em;
  }
  .wrapper .header-component div .menu li .yoga-wrapper .yoga-menu {
    color: black;
    display: block;
    font-size: smaller;
  }
  .wrapper .header-component div .menu li:hover {
    font-size: 15px;
  }
}
/*# sourceMappingURL=header.css.map */