.wrapper {
    overflow: hidden;
    position: relative;
    height: 100vh;
    color: #FFFFFF;
    .img {
        .bone {
            width: 100%;
            height: 100%;
            z-index: -1;
            li {
                position: absolute;
                width:100%;
                height: 100%;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                animation: anime 9s infinite ;
                &::after {
                    content: '';
                    background-color: rgba($color: #CAD9EE, $alpha: 0.4);
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0
                }
                &:nth-child(1) { 
                    background-image: url(../../../images/22469158_l.jpg);
                }
                &:nth-child(2) {
                    background-image: url(../../../images/22469161_l.jpg);
                    animation-delay: 3s;
                }
                &:nth-child(3) {
                    background-image: url(../../../images/22303138_l.jpg);
                    animation-delay: 6s;
                }
            }
        }
    }
    .header-component {
        position: absolute;
        padding: 5vh 0;
        width: 100vw;
        .link-button {
            z-index: 100;
            left: 4.5vh;
            top: 3.8vh;
            position: absolute;
            padding: 0.5rem 1rem;
            transition: all 0.5s;
            background-color: transparent;
            border: none;
            border-radius: 0.3rem;
            border-bottom: 5px solid transparent;
            box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
            font-size: 20px;
            font-family: 'Noto Sans JP', sans-serif;;
            letter-spacing: 0.2em;
            &:hover {
                margin-top: 3px;
                background: #CAD9EE;
                border-bottom: 2px solid #a0b1c9;
            }
            .link-button-font {
                color: white;
                text-decoration: none;
                .arrow {
                    height: 29px;
                    vertical-align: top;
                    padding-right: 5px;
                }
            }
        }
        .main-title {
            font-size: 30px;
            font-family: 'Montserrat Subrayada', sans-serif;
            z-index: 50;
            position: relative;
            text-align: center;
            padding: 0;
        }
    }
    .title {
        position: absolute;
        top: 15vw;
        left: 40vw;
        color: white;
        z-index: 50;
        font-size: 4em;
        font-family: "Noto Sans JP";     
    }
}

@keyframes anime { 
    0% {
        opacity: 0;
        animation-timing-function:ease-in;
    }
    10% {
        opacity: 1;
    }
    28% {
        opacity: 1;
    }
    38% {
        opacity: 0;
    }
    100% { 
        opacity: 0;
        animation-timing-function:ease-out; 
    }
}